{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Task 1
{% endblock %}

{% block title %}
{% endblock %}

{% block styles %}
<style>
  .otree-form-errors {
    visibility: hidden;
    display: none;
}
</style>
{% endblock %}

{% block content %}

<div class="card-header bg-transparent mainheader" >
    <h4>
        <center>
            Task 1 Practice Questions
        </center>
    </h4>
    <center>(Instructions are available <a href="{{ session.config.task1link }}" target="_blank">here</a>)</center>
</div>
<br>

<b>Consider the investment options given in the table below.</b>
    <br><br>
    {% include "investment_template.html" %}
    <br>
    <br>
    Suppose the leader chooses <b>Investment X</b>.
<br><br>
At the end of the experiment, the computer randomly determines that the investment <b>fails</b>.
<br>
If you are <b>the leader</b>, how many ECU will you receive from Stage 1?
<br><br>
{% formfields %}

<div align="center">
    <button class="btn-primary btn next">CHECK ANSWER</button>
</div>

{% endblock %}
