{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Questionnaire
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<div class="card-header bg-transparent mainheader" >
    <h4>
        <center>
            Questionnaire
        </center>
    </h4>
</div>
<br>

<p align="center">
    The experiment is now complete.
    <br>
    <br>
    We now invite you to complete a brief questionnaire.
    <br>
    Please be assured that all responses will be anonymous.
    <br>
    <br>
    You may receive additional payments for your responses to some parts of the questionnaire.
    <br>
    You will receive detailed instructions for each part of the questionnaire before you participate in it.
    <br>
    <br>
</p>

<div align="center">
    <button class="btn-primary btn next">START QUESTIONNAIRE</button>
</div>

{% endblock %}