{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Questionnaire
{% endblock %}

{% block title %}
{% endblock %}

{% block styles %}
<style>
.otree-timer {
  display: none;
}
</style>
{% endblock %}

{% block content %}

<div class="card-header bg-transparent mainheader" >
    <h4>
        <center>
            Questionnaire Part {{ participant.vars.survey_part }}
        </center>
    </h4>
</div>
<br>

{% formfields %}

<div align="right">
    <button class="btn-primary btn next">CONTINUE</button>
</div>

{% endblock %}