{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Questionnaire
{% endblock %}

{% block title %}
{% endblock %}

{% block styles %}
<style>
  .otree-form-errors {
    visibility: hidden;
    display: none;
}
.otree-timer {
  display: none;
}
</style>
{% endblock %}

{% block content %}

<div class="card-header bg-transparent mainheader" >
    <h4>
        <center>
            Questionnaire Part {{ participant.vars.survey_part }}
        </center>
    </h4>
</div>
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <center>If none of the above factors apply to you, please select only the last option.</center>
</div>
{% endif %}
<br>

<p>
    What were the factors you considered when stating your predictions of your leader's decisions?
    <br><br>
    Please select all the factors that apply to you.
    <br>
    <br>
</p>

{% for field in form %}
<p style="margin-left: 40px">{{ field }} {{ field.label_tag }}</p>
{% endfor %}

<br>

<div align="right">
    <button class="btn-primary btn next">CONTINUE</button>
</div>

{% endblock %}