{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Questionnaire
{% endblock %}

{% block title %}
{% endblock %}

{% block styles %}
<style>
  .otree-form-errors {
    visibility: hidden;
    display: none;
}
.otree-timer {
  display: none;
}
</style>
{% endblock %}

{% block content %}

<head>
    <style>
    table {
        border: 2px solid black;
    }

    th, td {
        padding: 10px;
        height: 40px;
        text-align: center;
    }
    </style>
</head>

<body>

    <div class="card-header bg-transparent mainheader" >
        <h4>
            <center>
                Questionnaire Part {{ participant.vars.survey_part }}
            </center>
        </h4>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <center>Both amounts must add up to {{ Constants.rg_endowment }} ECU.</center>
    </div>
    {% endif %}
    <br>

    <p>
        In this part of the questionnaire, we will now provide you with an additional endowment of {{ Constants.rg_endowment }} ECU.
        <br>
        <br>
        You have the option to invest a portion of this endowment.
        <br>
        <br>
        There is an equal chance that the investment will succeed or fail.
        <br>
        If the investment <b>succeeds</b>, you will receive {{ Constants.rg_multiplier }} times the amount invested.
        <br>
        If the investment <b>fails</b>, you will lose the amount invested.
        <br>
        <br>
        At the end of the experiment, your earnings from this part of the questionnaire will be added to your final payment, regardless of which task is chosen for payment.
        <br>
        <br>
        <br>
        <br>
        Please make your investment decisions below.
    </p>

    <center>
        <table style="width:75%">
            <tr>
                <td style="width:80%; border-style:hidden; text-align:right">
                    How many ECU would you like to <b>INVEST</b>?
                </td>
                <td style="width:20%; border-style:hidden; text-align:left">
                    {% formfield player.risk_invest label="" %}
                </td>
            </tr>
            <tr>
                <td style="width:80%; border-style:hidden; text-align:right">
                    How many ECU would you like to <b>KEEP</b>:
                </td>
                <td style="width:20%; border-style:hidden; text-align:left">
                    {% formfield player.risk_keep label="" %}
                </td>
            </tr>
        </table>
    <br>
    <br>
    <button class="btn-primary btn next">SUBMIT DECISION</button>
    </center>

</body>

{% endblock %}