{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Task 2
{% endblock %}

{% block title %}
{% endblock %}

{% block styles %}
<style>
.otree-timer {
  display: none;
}
</style>
{% endblock %}

{% block content %}

<div class="card-header bg-transparent mainheader" >
    <h4>
        <center>
            Task 2
        </center>
    </h4>
</div>
<br>

<p align="center">
    We are now ready to begin Task 2.
    <br>
    <br>
    Please click <b><a href="{{ session.config.task2link }}" target="_blank">this link</a></b> to read the instructions.
</p>

{% endblock %}