{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Task 1
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<div class="card-header bg-transparent mainheader" >
    <h4>
        <center>
            Task 1: Practice Round
        </center>
    </h4>
</div>
<br>

<p align="center">
    You will now participate in one practice round for Task 1.
    <br>
    <br>
    The purpose of the practice round is to allow you to familiarise yourself with the decision screens.
    <br>
    <br>
    Your decisions in the practice round will <b>not</b> affect your payments for today's experiment.
    <br>
    <br>
</p>

<div align="center">
    <button class="btn-primary btn next">NEXT</button>
</div>

{% endblock %}
