{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Task 1
{% endblock %}

{% block title %}
{% endblock %}

{% block styles %}
<style>
.otree-timer {
  display: none;
}
#confirmation, #higheffort, #loweffort, #confirmhigh, #confirmlow {
  display: none;
}
#information {
  display: block;
}
li:not(:last-child) {
    margin-bottom: 10px;
}
</style>
{% endblock %}

{% block scripts %}
<script>
function effort_high() {
  higheffort.style.display = "block";
  confirmhigh.style.display = "block";
  loweffort.style.display = "none";
  confirmlow.style.display = "none";
  confirmation.style.display = "block";
  information.style.display = "none";
}

function effort_low() {
  higheffort.style.display = "none";
  confirmhigh.style.display = "none";
  loweffort.style.display = "block";
  confirmlow.style.display = "block";
  confirmation.style.display = "block";
  information.style.display = "none";
}

function go_back() {
  higheffort.style.display = "none";
  confirmhigh.style.display = "none";
  loweffort.style.display = "none";
  confirmlow.style.display = "none";
  confirmation.style.display = "none";
  information.style.display = "block";
}
</script>
{% endblock %}

{% block content %}

<head>
    <style>
    table {
        border: 2px solid black;
    }

    th, td {
        padding: 10px;
        height: 40px;
        text-align: center;
    }
    </style>
</head>

<body>

    <div class="card-header bg-transparent mainheader" >
        <h4>
            <center>
                Task 1: {% if player.paid_round_num == 0 %}Practice Round{% else %}Round {{ player.paid_round_num }}{% endif %} Stage 1
            </center>
        </h4>
    </div>
    <br>

    <div id="information">
        <p align="left">
            {% if player.treatstrategy %}The leader is{% else %}You are{% endif %} given an <b>endowment of {{ Constants.endowment }} ECU</b> and can choose either Investment X or Investment Y for the group.
            <br>
            <br>
            The two investment options are given in the table below.
            <br>
            <br>
            {% include "investment_template.html" %}
            <br>
            <br>
            <center>
                Please choose an investment for your group. {% if player.treatstrategy %}Your decision will be implemented if you are the leader.{% endif %}
                <br>
                <br>
            </center>
        </p>

        <div style="width: 40%; margin-left:30%">
            <div style="float: left">
                <button type="button" onclick="effort_high()" class="btn btn-danger">Investment X</button>
            </div>
            <div style="float: right">
                <button type="button" onclick="effort_low()" class="btn btn-danger">Investment Y</button>
            </div>
        </div>
    </div>

    <div id="confirmation">
        <div id="higheffort">
            {% include "higheffort_template.html" %}
        </div>
        <div id="loweffort">
            {% include "loweffort_template.html" %}
        </div>
        <br>
        <center>Do you want to submit your decision?</center>
        <br>
        <br>
        <div style="width: 40%; margin-left:30%">
            <div style="float: left">
                <button type="button" onclick="go_back()" class="btn btn-secondary">Go Back</button>
            </div>
            <div style="float: right">
                <button id="confirmhigh" class="btn btn-danger" name="higheffort" value=True>Submit Decision</button>
                <button id="confirmlow" class="btn btn-danger" name="higheffort" value=False>Submit Decision</button>
            </div>
        </div>
        <br>
    </div>

</body>

{% endblock %}
