{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Task 1
{% endblock %}

{% block title %}
{% endblock %}

{% block styles %}
<style>
.otree-timer {
  display: none;
}
</style>
{% endblock %}

{% block content %}

<head>
    <style>
    table {
        border: 2px solid black;
    }

    th, td {
        padding: 10px;
        height: 40px;
        text-align: center;
    }
    </style>
</head>

<body>

    <div class="card-header bg-transparent mainheader" >
        <h4>
            <center>
                Task 1: {% if player.paid_round_num == 0 %}Practice Round{% else %}Round {{ player.paid_round_num }}{% endif %} Stage 2
            </center>
        </h4>
    </div>
    <br>

    <p align="left">
        {% if player.paid_round_num == 0 and player.treatstrategy is False %}
        <b>For this practice round, now suppose that another participant is the leader of your group.</b>
        <br>
        <br>
        The leader of your group was given an <b>endowment of {{ Constants.endowment }} ECU</b> and faced the investment options given below.
        <br>
        <br>
        {% endif %}
        {% if player.paid_round_num != 0 and player.treatstrategy is False and player.member %}
        The leader of your group was given an <b>endowment of {{ Constants.endowment }} ECU</b> and faced the investment options given below.
        <br>
        <br>
        {% endif %}
        {% if player.treatstrategy is True %}
        <b>Suppose another participant is the leader of your group.</b>
        <br>
        <br>
        {% endif %}
        Your leader has chosen either Investment X or Investment Y.
        <br>
        <br>
        {% include "investment_template.html" %}
        <br>
    </p>
    <left>
        <table style="width:100%">
            <tr>
                <td style="width:80%; border-style:hidden; text-align:left">
                    <u><b>Question 1</b></u>
                </td>
                <td style="width:20%; border-style:hidden; text-align:left"></td>
            </tr>
            <tr>
                <td style="width:80%; border-style:hidden; text-align:left">
                    How likely do you think your leader has chosen Investment X?
                </td>
                <td style="width:20%; border-style:hidden; text-align:left"></td>
            </tr>
            <tr>
                <td style="width:80%; border-style:hidden; text-align:left">
                    Specifically, what is the chance out of 100 that your leader has chosen Investment X?
                </td>
                <td style="width:20%; border-style:hidden; text-align:left">
                    {% formfield player.prior label="" %}
                </td>
            </tr>
        </table>
    <br>
    </left>

    <center>
        <button class="btn btn-primary">SUBMIT DECISION</button>
    </center>

</body>

{% endblock %}
