{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Task 1
{% endblock %}

{% block title %}
{% endblock %}

{% block styles %}
<style>
.otree-timer {
  display: none;
}
</style>
{% endblock %}

{% block content %}

<head>
    <style>
    table {
        border: 2px solid black;
    }

    th, td {
        padding: 10px;
        height: 40px;
        text-align: center;
    }
    </style>
</head>

<body>

    <div class="card-header bg-transparent mainheader" >
        <h4>
            <center>
                Task 1: {% if player.paid_round_num == 0 %}Practice Round{% else %}Round {{ player.paid_round_num }}{% endif %} Stage 2
            </center>
        </h4>
    </div>
    <br>

    <p align="left">
        Below are the investment options faced by your leader in this round.
        <br>
        <br>
        {% include "investment_template.html" %}
        <br>
        <br>
        <center>
        <b>Which investment option would you choose if you were the leader of your group?</b>
            <br>
            <br>
            <i>Note that this decision will not affect your payoff.</i>
            <br>
            <br>
        </center>
    </p>

    <div style="width: 40%; margin-left:30%">
        <div style="float: left">
            <button class="btn btn-danger" name="higheffort" value=True>Investment X</button>
        </div>
        <div style="float: right">
            <button class="btn btn-danger" name="higheffort" value=False>Investment Y</button>
        </div>
    </div>

</body>

{% endblock %}
