{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Task 1
{% endblock %}

{% block title %}
{% endblock %}

{% block styles %}
<style>
.otree-timer {
  display: none;
}
</style>
{% endblock %}

{% block content %}

<div class="card-header bg-transparent mainheader" >
    <h4>
        <center>
            Task 1: {% if player.paid_round_num == 0 %}Practice Round{% else %}Round {{ player.paid_round_num }}{% endif %}
        </center>
    </h4>
</div>
<br>

<p align="center">
    Please wait patiently for the experiment to proceed.
</p>

{% endblock %}
