{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Thank You
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<div class="card-header bg-transparent mainheader" >
    <h4>
        <center>
            End of Experiment
        </center>
    </h4>
</div>
<br>

<p align="center">
    <font size="+1"><b>
        Thank you for your participation!
        <br>
        <br>
        Please send a private message to Experimenter 2 once you are ready to leave,<br>and you will be assigned to an individual breakout room for the ID check.
        <br>
        <br>
        You may leave after the ID check has been completed.
    </b></font>
</p>

{% endblock %}